* {
  font-family: 'Abril Fatface', cursive;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

section {
  padding: 7em;
  height: calc(100vh - 14em);
  color: white;



}

:nth-of-type(1) {
 background: rgb(70, 185, 204);
}


:nth-of-type(2) {
 background: rgb(133, 8, 240);
}

:nth-of-type(3) {
 background: rgb(227, 148, 54);
}


.imageCircle {
    position: absolute;
  top: calc(100vh/2);
  
  width: calc(100vw/2);
  height: calc(100vh/2);

  border-radius: 50%;
  background-color: rgb(61, 65, 69);



  /* transform: translate(50%); */
}

h1 {
  text-align: center;
 font-size: 5.5em;
}

p {
 font-size: 1.5em;
}


/* ___ CSS for other projects */
